@import "./keyframes";
.banner {
	width: 100%;
	height: auto;
	position: relative;
	&__card {
		margin: auto;
		width: 20%;
		height: auto;
		list-style: none;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin-bottom: 100px;
		.banner__content {
			position: relative;
			width: 300px;
			height: 450px;
			padding: 20px;
			border-radius: 35px;
			margin: 50px;
			position: relative;
			background-color: $white;
			border: 5px solid $primaryColor;
			// box-shadow: inset 1px 1px 2px $grey, 5px 5px 30px lighten($grey, 25%);
			box-shadow: -10px 10px 1px $primaryColor;

			transition: all ease 0.3s;
			animation: hoverBounce 4s linear;

			&:hover {
				// filter: drop-shadow(1px 1px 5px $primaryColor);
				border: 5px solid lighten($primaryColor, 10%);
			}
			.banner__movie-img {
				width: 46%;
				height: 230px;
				position: absolute;
				bottom: 0;
				right: 0;
				transform: translateX(30px) translateY(50px);
				border: 5px solid $primaryColor;
				border-radius: inherit;
				transition: all ease 0.2s;
				&:hover {
					transform: translateX(30px) translateY(40px);
				}
			}
			h1 {
				@include textType("important-text");
				color: $grey;
				text-shadow: 1px 5px 1px lighten($grey, 50%);
				margin-top: 10px;
				margin-bottom: -5px;
				width: 100%;
				line-height: 40px;
				white-space: "...";
				overflow: hidden;
				text-overflow: ellipsis;
			}
			p {
				line-height: 20px;
				font-family: $thirdFont;
				font-size: 0.8em;
				color: $grey;
			}
		}
	}

	// &__movie-found {
	// 	background-color: $white;
	// 	border: 5px solid $primaryColor;
	// 	box-shadow: inset 1px 1px 8px $grey, 5px 5px 30px lighten($grey, 25%);
	// }

	&__image {
		display: block;
		margin: auto;
		width: 300%;
		height: auto;
		position: relative;
		z-index: -99999;
	}

	.screen {
		height: 120px;
		position: absolute;
		background-color: $grey;
		z-index: -9999;
	}
}

@media only screen and (max-width: 1300px) {
	.banner {
		&__card {
			width: 50%;
			// grid-template-columns: repeat(2, 1fr);
		}
		.screen {
			display: none;
		}
	}
}

@media only screen and (max-width: 650px) {
	.banner {
		&__card {
			width: 70%;
			// grid-template-columns: repeat(1, 1fr);
			.banner__content {
				margin-left: 35px;
			}
		}
	}
}
