@import "./keyframes";
.banner {
	width: 100%;
	height: auto;
	position: relative;
	&__card {
		margin: auto;
		width: 20%;
		height: auto;
		list-style: none;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin-bottom: 100px;
		.banner__content {
			position: relative;
			width: 300px;
			padding: 20px;
			border-radius: 35px;
			margin: 50px;
			position: relative;
			background-color: $white;
			border: 5px solid $primaryColor;

			transition: all ease 0.3s;
			animation: hoverBounce 4s linear;

			&:hover {
				border: 5px solid lighten($primaryColor, 10%);
			}
			.remove-card-icon {
				position: absolute;
				right: 20px;
				top: 20px;
				color: black;
				z-index: 999;
				cursor: pointer;
				&::after {
					content: "";
					position: absolute;
					top: 0;
					left: -30px;
					background-color: lighten($grey, 67%);
					width: 60px;
					height: 20px;
					transform: rotate(40deg);
				}
				&::before {
					content: "";
					position: absolute;
					top: -3px;
					left: -30px;
					background-color: lighten($grey, 63%);
					width: 70px;
					height: 20px;
					transform: rotate(140deg);
				}
			}
			h1 {
				@include textType("important-text");
				color: $grey;
				text-shadow: 1px 5px 1px lighten($grey, 50%);
				margin-top: 10px;
				margin-bottom: -5px;
				width: 100%;
				line-height: 40px;
				white-space: "...";
				overflow: hidden;
				text-overflow: ellipsis;
			}
			p {
				line-height: 20px;
				font-family: $thirdFont;
				font-size: 0.8em;
				color: $grey;
			}
			.banner__card-icons {
				display: flex;
				width: 50%;
				.card-icon {
					background-color: $primaryColor;
					color: $white;
					border-radius: 30px;
					font-size: 1.5em;
					width: 30px;
					text-align: center;
					padding: 5px;
					margin-right: 5px;
					filter: drop-shadow(2px 1px 3px $primaryColor);
					transition: all ease 0.2s;
					&:hover {
						transform: scale(1.1);
					}
				}
			}
			.icons-content-container {
				width: 300px;
				height: auto;
				background-color: rgba(221, 221, 221, 0.515);
				border-radius: 15px;
				position: relative;
				margin-top: 10px;

				p {
					width: 50%;
					padding: 10px 10px 10px 20px;
					transition: all ease 1s;
				}
				&::before {
					content: "";
					position: absolute;
					top: -16px;
					left: 0;
					width: 20px;
					height: 20px;
					background-color: inherit;
					clip-path: polygon(20% 100%, 0 0, 100% 100%, 0% 100%);
					border-radius: 20px;
				}
			}
			figure {
				width: 46%;
				height: 230px;
				position: absolute;
				bottom: 0;
				right: 0;
				cursor: pointer;
				transform: translateX(55px) translateY(55px);
				border-radius: 25px;
				transition: all ease 0.3s;
				&:hover {
					transform: translateX(55px) translateY(40px);
					// box-shadow: 4px 50px 0 $white;
				}

				&:hover figcaption {
					bottom: -55px;
				}
				.banner__movie-img {
					width: 100%;
					height: inherit;
					border-radius: 25px;
					border: 5px solid $primaryColor;
				}
				figcaption {
					transition: all ease 0.3s;
					font-size: 1.1em;
					position: absolute;
					bottom: 10px;
					left: 10px;
					z-index: -999;
					padding: 5px;
					border-radius: 10px;
					width: 200px;
					display: flex;
					i {
						color: $primaryColor;
						// box-shadow: inset 1px 1px 5px $grey;
						background-color: $white;
						font-size: 1.4em;
						padding: 10px;
						border-radius: 20px;

						margin-right: 10px;
						&:hover {
							transform: scale(1.1);
						}
					}
				}
			}
			.zoomed-poster {
				width: 100%;
				transform: none;
				top: -20px;
				left: -30px;
				z-index: 999;
				img {
				}

				&:hover {
					transform: translate(5px, -5px);
				}
				figcaption {
					bottom: -50px;
					z-index: 999;
				}
			}
		}
	}

	// &__movie-found {
	// 	background-color: $white;
	// 	border: 5px solid $primaryColor;
	// 	box-shadow: inset 1px 1px 8px $grey, 5px 5px 30px lighten($grey, 25%);
	// }

	&__image {
		display: block;
		margin: 50px auto;
		width: 125%;
		height: auto;
		position: relative;
		z-index: -99999;
	}

	.screen {
		height: 120px;
		position: absolute;
		background-color: $grey;
		z-index: -9999;
	}
}

@media only screen and (max-width: 1300px) {
	.banner {
		&__card {
			width: 50%;
		}
		.screen {
			display: none;
		}
	}
}

@media only screen and (max-width: 650px) {
	.banner {
		&__card {
			.banner__content {
				margin-left: 35px;
			}
		}
	}
}
