.footer {
	background-color: $primaryColor;
	position: fixed;
	width: 100%;
	bottom: 0;
	padding: 10px;
	@include textType("text");
	color: rgb(236, 231, 231);
	&__Link {
		color: white;
		&:visited {
			color: lighten($primaryColor, 10%);
		}
	}

	&__icon {
		padding-right: 5px;
		background-color: #ffffff49;
		text-align: center;
		padding: 5px;
		border-radius: 50%;
		color: $primaryColor;
		&:hover {
			transform: scale(1.1);
		}
	}
	mark {
		padding: 10px;
		background-color: #ffffff49;
		color: $primaryColor;
	}
}

@media only screen and (max-width: 650px) {
	.footer {
		padding: 2px;
		font-size: 10px;

		mark {
			padding: 2px;
		}
	}
}
