@import "./mixins";
body,
html {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	background-color: $white;
	overflow-x: hidden;
}

button {
	border: none;
	outline: none;
	cursor: pointer;
}

::selection {
	background-color: $secondaryColor;
	color: $white;
}
