@import "./fonts";

// Fonts
$primaryFont: "Lalezar", cursive, arial;
$secondaryFont: "Metrophobic", cursive, arial;
$secondaryFont: "Poppins", cursive, Helvetica, arial;

// Colors
$primaryColor: #6c63ff;
$secondaryColor: #4e4e4e;
$thirdColor: #f8f8f8;
$grey: #f8f8f8;
