@import "./fonts";

// Fonts
$primaryFont: "Lalezar", cursive, arial;
$secondaryFont: "Metrophobic", cursive, arial;
$thirdFont: "Poppins", cursive, Helvetica, arial;

// Colors
$primaryColor: #6c63ff;
$secondaryColor: #4e4e4e;
$thirdColor: #f8f8f8;
$grey: #524b4b;
$white: #ffffff;
$success: #149714;
