.toggle-auth {
	width: 100px;
	height: 30px;
	background-color: $white;
	color: $primaryColor;
	cursor: pointer;
	padding: 10px;
	display: none;
	justify-content: space-between;
	align-items: center;
	border-radius: 10%;
	box-shadow: inset 0px 0px 3px #dddada;
	border: 1px solid $white;

	transition: all ease-in-out 0.2s;

	&:hover {
		border: 1px solid $primaryColor;
	}
	&__user-icon {
		font-size: 30px;
	}
}

.auth {
	max-width: 350px;
	width: 200px;
	position: fixed;
	right: 30px;
	top: 30px;
	padding: 15px;
	border-radius: 20px;
	background-color: $white;
	font-family: $secondaryFont;
	border: 5px solid $white;
	box-shadow: inset 0px 0px 3px #dddada;
	transition: all ease-in-out 0.2s;
	z-index: 999999;
	&__unlogged {
		animation: bounce-login 0.2s linear alternate;
	}
	&:hover {
		border: 5px solid $primaryColor;
	}
	&.animation-to-login {
		animation: bounce-login 0.4s ease-in alternate;
	}
	&__toggle {
		position: absolute;
		top: 0;
		right: 0;
		color: lighten($grey, 29%);
		border-radius: 50%;
		background-color: $white;
		width: 30px;
		height: 34px;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;

		&:hover {
			background-color: darken($white, 5%);
		}
		.toggle.up {
			transform: rotate(180deg);
		}
	}

	&__user-icon {
		display: none;
		position: absolute;
		bottom: -20px;
		right: -35px;
		font-size: 2em;
		color: lighten($grey, 60%);
		z-index: -9999;
	}

	&__form {
		display: none;
		flex-direction: column;
		align-items: center;
		justify-self: center;
	}

	&__form.toggleFormDown {
		display: flex;
	}
	&__title {
		text-align: center;
		margin: -5px 0 5px 0;
		@include textType("important-text");
	}
	&__title.removed {
		display: none;
	}
	&__input-container {
		position: relative;
		height: 40px;
	}
	&__input-container + &__input-container {
		margin: 15px 0 15px 0;
	}
	&__input {
		padding: 5px;
		border-top-left-radius: 8px;
		border-radius: 20px;
		padding: 10px;
		border: 3px solid lighten($primaryColor, 10%);
		box-shadow: inset 0px 0px 3px rgb(221, 218, 218);

		&:focus {
			border: 3px solid $primaryColor;
			border-left: 4px solid $primaryColor;
		}
	}
	&__beneath {
		background-color: red;
	}
	&__label {
		position: absolute;
		top: 10px;
		left: 15px;
		transition: all 0.3s ease;
		background-color: $white;
		padding: 0 3px 0 3px;
		cursor: text;
		&.toggle {
			top: -10px;
			left: 10px;
		}
	}
	&__separator {
		color: $grey;
		position: relative;
		background-color: #fff;
		z-index: 999;
	}

	&__submits {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-evenly;
		margin-top: -10px;
	}
	&__btn {
		padding: 10px;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: $white;
		box-shadow: inset 0px 0px 3px #dddada;
		border-radius: 3px;
		transition: all ease-in-out 0.2s;
		border: 3px solid $primaryColor;
		border-radius: 20px;

		&:hover {
			transform: translateY(-3px);
		}
	}
	&__error {
		width: 110%;
		margin-bottom: 30px;
		margin-top: -20px;
		font-family: $secondaryFont;
		font-size: 15px;
		color: $warning;
		display: none;
		background-color: lighten($warning, 35%);
		padding: 20px;
		text-align: center;
	}
	&__error.printError {
		display: flex;
	}
	&__loginWithGoogle {
		margin-top: 10px;
		color: $red;
		i {
			padding-right: 3px;
		}
	}

	&__perfil {
		margin-top: 20px;
		display: none;
		align-items: center;
	}
	&__user-info {
		display: flex;
		justify-content: center;
		align-items: center;
		border: 3px solid $primaryColor;
		height: 50px;
		border-radius: 20px;
		box-shadow: inset 0px 0px 3px rgb(221, 218, 218);
		margin-top: -15px;

		background-color: $white;
	}

	&__logout {
		align-self: flex-end;
		width: 30px;
		position: absolute;
		top: 0;
		right: 0;
	}
	&__user-img {
		width: 50px;
		height: 50px;
		border-radius: 50%;
		border: 5px solid $primaryColor;
		transform: translate(-10px);
		cursor: pointer;
	}

	&__username {
		height: auto;
		padding-left: 10px;
		// width: 100%;
		line-height: 25px;
		@include textType("secondary-text");
		transform: translate(-10px);
		font-size: 20px;
		overflow: auto;
		text-overflow: ellipsis;
	}
}

@media only screen and (max-width: 1000px) {
	.toggle-auth {
		display: flex;
		border: 2px solid $white;
		width: 100px;
		&:hover {
			border: 2px solid $white;
		}
	}
	.auth {
		height: 30px;
		left: 10px;
		top: 10px;
		border: 5px solid $white;
		box-shadow: inset 0px 0px 3px rgb(221, 218, 218);
		&:hover {
			border: 5px solid $white;
		}
		&__form {
			right: 0;
		}
		&__title {
			font-size: 2em;
		}
		&__user-info {
			background-color: white;
			box-shadow: inset 0px 0px 3px rgb(221, 218, 218);
		}
		&__username {
			background-color: white;
			// border-bottom: 2px solid $primaryColor;
		}
		&__label {
			font-size: 0.9em;
		}
		&__user-icon {
			display: none;
		}
	}
}
