.blur-bar {
	width: 100px;
	height: 700px;
	position: absolute;
	filter: blur(34px);
	z-index: 99999999;
	background-color: $white;
	display: none;
}
.blur-bar-left {
	left: 0;
}

.blur-bar-right {
	right: -10px;
}

@media only screen and (max-width: 1000px) {
	.blur-bar {
		width: 50px;
	}
}
