.toggle-footer {
	background-color: transparent;
	width: 40px;
	height: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: 10px;
	&__btn {
		width: 50px;
		background-color: transparent;
		color: $primaryColor;
		font-size: 2em;
	}
}

.footer {
	height: 33px;
	width: 100%;
	margin-top: -100px;
	position: fixed;
	display: flex;
	bottom: 0;
	justify-content: space-between;
	align-items: center;
	background-color: $white;
	padding: 5px;
	@include textType("text");
	color: #dad6d6;
	z-index: 99999999999999;
	transition: all ease 0.3s;
	box-shadow: 10px -10px 10px #ecececea;
	i {
		cursor: pointer;
	}
	&:hover {
		color: rgb(133, 124, 124);
	}
	&__Link {
		color: white;
		&:visited {
			color: lighten($primaryColor, 10%);
		}
	}
	&__icon-go-to-top {
		font-size: 1em;
		color: lighten($grey, 40%);
		border-radius: 50%;
		width: 30px;
		height: 30px;
		transition: all ease 0.3s;
		margin-left: 10px;
		&:hover {
			color: lighten($grey, 20%);

			transform: scale(1.1) translateY(-3px);
		}
	}
	&__icon {
		padding-right: 5px;
		text-align: center;
		padding: 5px;
		border-radius: 50%;
		color: $primaryColor;
		&:hover {
			transform: scale(1.1);
		}
	}
	mark {
		padding: 10px;
		background-color: #ffffff49;
		color: $primaryColor;
	}
	&__rating {
		padding: 5px;
		margin-right: 10px;
		margin-bottom: -8px;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}
	&__star {
		font-size: 0.8em;
		cursor: pointer;
		transition: all ease-in-out 0.1s;
		color: goldenrod;
		&:hover {
			transform: scale(1.1);
			filter: drop-shadow(0 0 10px $white);
		}
	}
	&__rating-title {
		font-size: 0.9em;
		margin: -10px 0 -10px 0;
	}
}

@media only screen and (max-width: 750px) {
	.footer {
		height: auto;
		padding: 2px;
		font-size: 12px;
		mark {
			padding: 2px;
		}
		&__rating-title {
			font-size: 10px;
		}
		&__star {
			padding: 3px;
			margin-top: 5px;
		}
	}
}

@media only screen and (max-width: 420px) {
	.footer {
		padding: 2px;
		font-size: 14px;
		flex-direction: column;
		align-items: flex-start;

		mark {
			padding: 2px;
		}

		&__rating {
			margin-top: 10px;
			margin-bottom: 10px;
		}
		&__star {
			margin-top: 10px;
		}
	}
}
