@keyframes bounce {
	to {
		padding-left: 10px;
	}
}

@keyframes cross-window {
	from {
		transform: translateX(50px);
	}
	50% {
		transform: translateX(100px);
	}
	to {
		transform: none;
	}
}

@keyframes wink {
	from {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	to {
		opacity: 0.1;
	}
}

@keyframes opacityToggle {
	to {
		opacity: 0.1;
		transform: scale(1.2);
	}
}

@keyframes removePoster {
	50% {
		transform: translateX(200px);
	}
	to {
		transform: translateX(-100px);
		z-index: -9999;
		visibility: hidden;
	}
}

@keyframes bounce-login {
	from {
		transform: translate(30px);
		filter: drop-shadow(0 10px 30px $primaryColor);
	}
	50% {
		transform: translate(-20px);
	}
}

@keyframes loading-complete {
	to {
		width: 100%;
	}
}
