@keyframes bounce {
	to {
		padding-left: 10px;
	}
}

// @keyframes cross-window {
// 	to {
// 		left: 2000px;
// 	}
// }

@keyframes cross-window {
	50% {
		transform: translateX(100px);
	}
	to {
		transform: translateX(50px);
	}
}

@keyframes opacityToggle {
	to {
		opacity: 0.2;
		transform: scale(1.2);
	}
}

@keyframes hoverBounce {
	from {
		// filter: drop-shadow(1px 1px 15px $primaryColor);
	}
}

@keyframes removePoster {
	50% {
		transform: translateX(200px);
	}
	to {
		transform: translateX(-100px);
		z-index: -9999;
		visibility: hidden;
	}
}
