@import "./fonts";

// Fonts
$primaryFont: "Lalezar", cursive, arial;
$secondaryFont: "Metrophobic", cursive, arial;
$thirdFont: "Poppins", cursive, Helvetica, arial;

// Colors
$primaryColor: #6c63ff;
$secondaryColor: #4e4e4e;
$thirdColor: #f8f8f8;
$grey: #524b4b;
$white: #ffffff;
$success: #149714;
$red: #e97255;
$warning: #f58b28;

// Genres
$adventureColor: #0000ff69;
$horrorColor: #2d2d3172;
$familyColor: #ffff0077;
$actionColor: #80808070;
$animationColor: #00800056;
$comedyColor: #3dcbeb62;
$fantasyColor: #ffa60074;
$romanceColor: #ffc0cb85;
$sci-fiColor: #423a5a85;
$thrillerColor: #306d4985;
$dramaColor: #9d828246;
$mysteryColor: #35162885;
$historyColor: #a1a54b85;
$warColor: #c4363685;
$crimeColor: #5c000085;
$shortColor: #dc8adc85;
$musicColor: #4f069785;
$musicalColor: #27c77785;
