.genres[data-genre="#Animation"] {
   background-color: $animationColor;
}

.genres[data-genre="#Adventure"] {
   background-color: $adventureColor;
}

.genres[data-genre="#Family"] {
   background-color: $familyColor;
}
.genres[data-genre="#Action"] {
   background-color: $actionColor;
}

.genres[data-genre="#Horror"] {
   background-color: $horrorColor;
}

.genres[data-genre="#Comedy"] {
   background-color: $comedyColor;
}

.genres[data-genre="#Fantasy"] {
   background-color: $fantasyColor;
}

.genres[data-genre="#Romance"] {
   background-color: $romanceColor;
}

.genres[data-genre="#Sci-Fi"] {
   background-color: $sci-fiColor;
}

.genres[data-genre="#Thriller"] {
   background-color: $thrillerColor;
}

.genres[data-genre="#Drama"] {
   background-color: $dramaColor;
}

.genres[data-genre="#Mystery"] {
   background-color: $mysteryColor;
}

.genres[data-genre="#History"] {
   background-color: $historyColor;
}

.genres[data-genre="#War"] {
   background-color: $warColor;
}

.genres[data-genre="#Crime"] {
   background-color: $crimeColor;
}
.genres[data-genre="#Short"] {
   background-color: $shortColor;
}

.genres[data-genre="#Music"] {
   background-color: $musicColor;
}

.genres[data-genre="#Musical"] {
   background-color: $musicalColor;
}

.genres[data-genre="#Sport"] {
   background-color: $sportColor;
}
